{% extends 'ekki_search_bar.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="../../static/CSS/slider.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="{% url 'real_estate' %}"><button id="back-button" type="submit" class="btn btn-block btn-lg btn-primary">Back</button></a>

<div class="moreinfo-container">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            {% for image in images %}
            <div class="mySlides">
                <img id="single-image" src="{{ image }}">
            </div>
            {% endfor %}
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

<div class="moreinfo-box1">
                    <p><b> Information about real estate: </b></p>
                    <p></p>
                    Bedrooms: {{ real_estate.bedrooms }} <br>
                    Bathrooms: {{ real_estate.bathrooms }} <br>
                    Size: {{ real_estate.size }} square meters <br>
                    Type: {{ real_estate.type }} <br>
                    Price: {{ real_estate.price }} ISK.
                </div>


    <script src="{% static 'js/img_slider.js' %}"></script>
                <div class="moreinfo-box1">
                    <p><b> Contact realtor for more information: </b></p>
                    <img id="realator-img" src="{{ employee.profile_image }}" width="100%"> <br>
                    <p></p>
                    {{ employee.user.first_name }} {{ employee.user.last_name }}<br>
                    Email: {{ employee.user.email }}<br>
                    Phone: {{ employee.phone }}
                </div>
</div>
    <div class="infobox-realestate">
        <div class="infotext-realestate">
            <p id="text-street"><b>{{ real_estate.street}}, {{ real_estate.zip_code.zip_code }} {{ real_estate.zip_code.city }}</b></p>
           <p> </p>
            <b> Description:   </b>
            {{ real_estate.more_info}}

        </div>
        {% if user.is_authenticated == False %}
            <a class="buy" href="{% url 'login' %}"><button id="button" type="submit" class="btn btn-block btn-primary">Login to buy</button></a>
        {% elif user.is_staff == False %}
            <a class="buy" href="{% url 'payment_information_index' %}{{ real_estate.id }}"><button id="button" type="submit" class="btn btn-block btn-primary">Buy</button></a>
        {% endif %}

    </div>



{% endblock %}


