{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container2">
            <h2 class="red">New Real Estate</h2>
        </div>

        <main id="main">

            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>

            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a href="{% url 'real_estate_information' %}">
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        </main>
        <div class="col-13">
            <button type="submit" class="btn btn-block btn-lg btn-primary"><a href="{% url 'real_estate' %}">See more</a></button>
        </div>

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}

