{% extends 'stor_search_bar.html' %}
{% load static %}
    {% block content %}
        <div class="container2-home" style="display: flex; flex-direction: row; justify-content: center;">
            <h2 id="home-header" class="red" > New Real Estate</h2>
        </div>

        <main id="main">
            {% for real_estate in real_estates %}
            <div class="well real estate" >
                <a href="/real_estate/info/{{ real_estate.id }}">
                <img src="{{ real_estate.main_image }}" height="250px" width="350px">
                <h4 class="black-font">{{ real_estate.street }}, {{ real_estate.zip_code_id }} {{ real_estate.city }}</h4>
                    <p class="black-font"> <b>Bedrooms:</b> {{ real_estate.bedrooms }},<b> Bathrooms:</b> {{ real_estate.bedrooms }}, <b>Size:</b> {{ real_estate.size }}<b> square meters</b></p>
                <p class="black-font"><b> Type: </b>{{ real_estate.type }}</p>
                <p class="black-font" id="price">{{ real_estate.price }} kr.</p></a>
            </div>
            {% endfor %}
        </main>
        <div class="col-13">
            <a href="{% url 'real_estate' %}"><button type="submit" class="btn btn-block btn-lg btn-primary">See more</button></a>
        </div>

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}

