{% extends 'stor_search_bar.html' %}
{% load static %}
    {% block content %}
        <div class="container2">
            <h2 class="red">New Real Estate</h2>
        </div>

        <main id="main">
            {% for real_estate in real_estates %}
            <div class="images">
                <a href="/real_estate/info/{{ real_estate.id }}">
                <img src="{{ real_estate.main_image }}" height="100px" width="200px">
                <h4 style="color:black">{{ real_estate.street }}, {{ real_estate.zip_code }} {{ real_estate.city }}</h4>
                <p style="color:black">Bedrooms: {{ real_estate.bedrooms }}, Bathrooms: {{ real_estate.bedrooms }}, Size: {{ real_estate.size }} square meters</p>
                <p style="color:black">Type: {{ real_estate.type }}</p>
                <p style="color:black">{{ real_estate.price }} kr.</p></a>
            </div>
            {% endfor %}
        </main>
        <div class="col-13">
            <a href="{% url 'real_estate' %}"><button type="submit" class="btn btn-block btn-lg btn-primary">See more</button></a>
        </div>

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}

