#header{
     background-image: url("../Images/mountain.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 700px;
}

.search{
    margin-top: 100px;
}