a{
    color:white;
}
#header{
    background: url("../Images/mountain.jpg") no-repeat center center;
}

#header_short{
    background: url("../Images/mountain_short.jpg") no-repeat center center;
}

.search_bar {
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
}

.dropdown {
    display: inline-block;
}
.form {
    margin: auto;
    float: inside;
}
.image {
  width: 30%;
}
#main {
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.images {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #000000;
    padding:5px;
    color: slateblue;

}
.moreinfobox2{
    border-color: #222222;
    width: 50%;
    height: 50%;
    resize: none;
    margin-left: 30px;

}
.info_image{
    display: inline-block;
}


/*Css for real_estate/info */

.moreinfo-box1{
    border-color: #222222;
    padding: 20px;
    width: 30%;
    position: center;
}

.moreinfo-text{
    height: 55rem;
    width: 30rem;
    border-style: solid;

}

.moreinfo-container{
    display: flex;
    flex-direction: inherit;
    justify-content: space-evenly;
    padding: 20px;
    }

.infobox-realestate{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    width: 80rem;
    height: 30rem;
}

.infotext-realestate{

}

.buy{
    width: 10%;
}

#button{
    float: right;
    margin: 3%;

}

/************/

.employee {
    color: black;
}


.employee:hover {
    color: black;
}

.well {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding:5px;
}

.black-font{
    color: black;
}

#price{
    font-size: 20px;
}



.employee-img {
  width: 50%;
    height: 30%;
}

#back-button{
    width: 7%;
    height: 7%;
    margin: 3%;
}

.navbar-default {
    text-align: center;
}

.navbar-nav {
    margin-left: 10%;
    margin-right: 10%;

}



.col-14 {
    width: 30%;
    display: inline-block;
    height: 5%;
}

.col-12 {
    width: 10%;
    display: inline-block;
    height: 5%;
}



.col-13 {
    margin-left:auto;
    margin-right:auto;
    width: 10%;
}

/*Here is CSS for Footer*/

.container-footer{
    display: flex;
    flex-direction: row;
    background-color: #7FA2CA;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-width: 3rem;
    justify-content: center;
    align-self:center;
    margin-left: auto;
    margin-right: auto;
}


.social_media_logo{
    width: 7%;
    display: inline-block;

}

.footer_self {
    position: center;
}

.footer_right {
    float: right;
}

.footer_left {
    float: left;
}

footer [class ^= 'footer-'] {
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    height: 20rem;
    background-color: #7FA2CA;
    border-width: 3rem;
    padding-top: 3rem;
}

footer .footer-left {
    float: left;
    text-align: left;
    padding-left: 3rem;
}

footer .footer-right {
    float: right;
}


/* CSS for Login */

.card-body {
    background-color: #7FA2CA;
}

#username {
    text-align: right;
    display: inline-block;
    margin-left: 90%;
}

#footer_picture {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 20rem;
    background-color: #7FA2CA;
    border-width: 3rem;
}


.formatted-btn{
    margin: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


