
ul {
    display: flex;
    justify-content: center;
    align-self:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 5.05%;
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 50px 12px 50px;
    flex-direction: row;
    justify-content: space-evenly;
}

li a:hover {
  background-color: rgba(0,0,0,0.2);
}

.active {
  background-color: #4CAF50;
}