{% extends 'ekki_search_bar.html' %}
{% load static %}
{% block content %}
 <h3>Payment Information</h3>
    <div class="pay-info">
    <form class="payment-form" method = "post" style="width: 70%;">
    {% csrf_token %}
    {{ credit_card_form }}
        <input type="submit" href="real_estate/pay/{{ id }}/confirmation" class="btn btn-primary pull-right">Pay</input>
    </form>
        <div style="display:inline-block;">
            <a href="/real_estate/info/{{ id }}"><button type="submit" id="go-back" class="btn btn-primary pull-right" style="display: inline-block;"> Go Back </button></a>
        </div>
    </div>
{% endblock %}


