{% extends 'ekki_search_bar.html' %}
{% load static %}
<script src="{% static 'js/urls.js' %}"></script>

{% block content %}
        <div class="container2">
            <h2 class="red">Pending Real Estate</h2>
        </div>
<form class="dropdown" action="">
              <select id="pending_order" name="order">
                  <option value="">Order by</option>
                  <option value="{% url 'pending_zip' %}">Zip</option>
                  <option value="{% url 'pending_street' %}">Street Name</option>
                  <option value="{% url 'pending_size' %}">Size</option>
                  <option value="{% url 'pending_price' %}">Price</option>
              </select>

        </form>
    <button id="go" onclick="gotosite()">Go</button>

        <main id="main">

        {% for house in real_estates %}
            {% include 'RealEstate/single_real_estate.html' with house=house %}
        {% endfor %}

        <!-- Dummy data: -->
         <!--  <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>

            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        </main>
        <div class="col-13">
            <a href="{% url 'pending_index' %}"><button type="submit" class="btn btn-block btn-lg btn-primary">Load more</button></a>
        </div> -->

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}