{% extends "stor_mynd.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="../../static/CSS/slider.css">

    <div class="image-real-estate">
            <form class="add-form" method="post"/>
            {% csrf_token %}
        {{ image_form }}
{#    <input type="submit" value="Add" class="btn btn-primary pull-right" >#}
            <button type="submit" class="formatted-btn btn-primary">Update</button>
            </form>
        <div class="image-real-estate">
            {% for image in images %}
                {% if image != "" %}
                    <div id="images-add">
                        <img id="imgs" src="{{ image }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--<div style="height:400px; width:400px; border: 10px solid black;">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            {% for image in images %}
            <div class="mySlides">
                <img src="{{ image.image }}" style="width:100%; height:100%;">
            </div>
            {% endfor %}
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>-->
    <script src="{% static 'js/img_slider.js' %}"></script>
{% endblock %}