{% extends 'ekki_search_bar.html' %}

{% block content %}

    <h3>Confirmation step</h3>

    <table>
        <tr>
            <td>
                <h4>Seller: </h4>
            </td>
            <td>
                <h4>{{ real_estate.employee.first_name }} {{ real_estate.employee.last_name }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Buyer: </h4>
            </td>
            <td>
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Location: </h4>
            </td>
            <td>
                <h4>{{ real_estate.street }}, {{ real_estate.zip_code.zip_code   }} {{ real_estate.zip_code.city }}, {{ real_estate.zip_code.country }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Size: </h4>
            </td>
            <td>
                <h4>{{ real_estate.size }} square <meters></meters></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Bedrooms: </h4>
            </td>
            <td>
                <h4>{{ real_estate.bedrooms }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Bathrooms: </h4>
            </td>
            <td>
                <h4>{{ real_estate.bathrooms }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Type: </h4>
            </td>
            <td>
                <h4>{{ real_estate.type }}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Price: </h4>
            </td>
            <td>
                <h4>{{ real_estate.price }}</h4>
            </td>
        </tr>
    </table>
    <form method="post">
        <input type="number" name="cvc" id="cvc" placeholder="CVC" min="000" max="999">
    </form>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">Confirm Purchase</button>


{% endblock %}