{% extends 'ekki_search_bar.html' %}

{% block content %}

     <h2 class="page-header" >Confirmation step</h2>

    <div class="confirmation-div">

        <div class="well real estate">
            <h3>Realtor</h3>
            <img class="employee-img" id="confirmation-img"  src="{{ real_estate.employee.profile.profile_image }}"  height="200px" width="300px"/>
             <div>
                <h4 class="black-font">{{ real_estate.employee.first_name }} {{ real_estate.employee.last_name }}</h4>
                <p class="black-font">{{ real_estate.employee.email }}</p>
                <p class="black-font">(+354) {{ real_estate.employee.profile.phone }}</p>
             </div>
        </div>
        <div class="well real estate">
            <h3>Real estate information</h3>
            <img src="{{ real_estate.main_image }}" id="confirmation-img" height="200px" width="300px">
            <div>
                <h4>{{ real_estate.street }}, {{ real_estate.zip_code.zip_code   }} {{ real_estate.zip_code.city }}, {{ real_estate.zip_code.country }}</h4>
                <p><b>Size: </b>{{ real_estate.size }} square meters</p>
                <p><b>Bedrooms: </b>{{ real_estate.bedrooms }}</p>
                <p><b>Bathrooms: </b>{{ real_estate.bathrooms }}</p>
                <p><b>Type: </b>{{ real_estate.type }}</p>
                <p><b>Price: </b>{{ real_estate.price }}</p>
                <p><b>Credit Card:</b>****-****-****-{{ credit_card }}</p>
            </div>
        </div>
        <div class="well real estate">
            <h3>Buyer</h3>
            <img id="confirmation-img"  src="{{ user.profile.profile_image }}"  height="200px" width="300px"/>
            <div>
                <h4 class="black-font">{{ user.first_name }} {{ user.last_name }}</h4>
                <p class="black-font">{{ user.email }}</p>
                <p class="black-font">(+354) {{ user.profile.phone }}</p>
                <form method="post"> <b>Please enter CVC number to confirm purchase:</b>
                <input type="number" name="cvc" id="cvc" placeholder="CVC" min="000" max="999">
                    <input type="button" value="Confirm Purchase" onclick="location.href='/real_estate/pay/{{ id }}/bought/';" class="btn btn-primary" data-toggle="modal" data-target=".modal">
                </form>
            </div>
        </div>
    </div>
    <input type="submit" id="back-btn-confirm"  value="Back" onclick="location.href='/real_estate/pay/{{ id }}';" class="btn btn-primary" data-toggle="modal" data-target=".modal">

{% endblock %}