{% extends 'ekki_search_bar.html' %}
{% load static %}

{% block content %}
        <div class="container2">
            <h2 class="red">Your Real Estate</h2>
        </div>
<form class="dropdown" action="{% url 'your_real_estate_index' %}">
              <select id="your_real_estate_order" name="order">
                  <option value="">Order by</option>
                  <option value="{% url 'your_real_estate_zip' %}">Zip</option>
                  <option value="{% url 'your_real_estate_street' %}">Street Name</option>
                  <option value="{% url 'your_real_estate_size' %}">Size</option>
                  <option value="{% url 'your_real_estate_price' %}">Price</option>
              </select>

        </form>
    <button type="submit"id="your_real_estate_order" onclick="your_real_estate_urls()">Go</button>



        </form>
<a href="{% url 'add_real_estate_index' %}"><button >Add new</button></a>
        <main id="main">



        <!-- Dummy data: -->
           <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>

            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
            <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        <div class="images">
                <a>
                <img class="image" src="{% static 'Images/dog.png' %}" alt="Fish"></a>
                <h3>Address: xxx</h3>
                <p>Bed: #, Bathrooms: #, Size: #m^2</p>
                <p>Price: #kr</p>
            </div>
        </main>
        <div class="col-13">
            <button type="submit" class="btn btn-block btn-lg btn-primary"><a href="{% url 'pending_index' %}">Load more</a></button>
        </div>

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}