<div class="well real estate">
    <a href="/real_estate/info/{{ real_estate.real_estate_id }}">
        <img src="{{ real_estate.real_estate.main_image }}" height="200px" width="300px">
        <h4 style="color:black">{{ real_estate.real_estate.street }}, {{ real_estate.real_estate.zip_code.city }} {{ real_estate.real_estate.zip_code.zip_code }}</h4>
        <p style="color:black">Bedrooms: {{ real_estate.real_estate.bedrooms }}, Bathrooms: {{ real_estate.real_estate.bedrooms }}, Size: {{ real_estate.real_estate.size }} square meters</p>
        <p style="color:black">Type: {{ real_estate.real_estate.type }}</p>
        <p style="color:black">{{ real_estate.real_estate.price }} kr.</p>
    </a>
</div>

