<!-- Html file for rendering a single real estate form user history. Extends UserHistory/index.html. -->

<div class="well real estate">
    <a href="/real_estate/info/{{ real_estate.real_estate_id }}">
        <img src="{{ real_estate.real_estate.main_image }}" height="200px" width="300px">
        <h4 class="black-font">{{ real_estate.real_estate.street }}, {{ real_estate.real_estate.zip_code.zip_code }} {{ real_estate.real_estate.zip_code.city }}</h4>
        <p class="black-font">Bedrooms: {{ real_estate.real_estate.bedrooms }}, Bathrooms: {{ real_estate.real_estate.bedrooms }}, Size: {{ real_estate.real_estate.size }} square meters</p>
        <p class="black-font">Type: {{ real_estate.real_estate.type }}</p>
        <p class="black-font">{{ real_estate.real_estate.price }} kr.</p>
    </a>
</div>

