{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Castle Apartments</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    </head>
    <body>
        <div id="header">
        <div style="text-align: center; padding-top: 25px;">
            <img class="logo" id="logo" src="{% static 'Images/logo.png' %}" alt="logo">
        </div>
        <ul>
            <li><a id="home" href="{% url 'home_index' %}">Home</a></li>
            <li><a id="real_estate" href="{% url 'real_estate' %}">Real Estate</a></li>
            <li><a id="employees" href="{% url 'employees_index' %}">Staff Members</a></li>
            {% if user.is_authenticated %}
                <li><a id="profile" href="{% url 'profile' %}">Profile</a></li>
                {% if user.is_staff %}
                    <li><a id="pending" href="{% url 'pending_index' %}">Pending</a></li>
                {% else %}
                    <li><a id="your_real_estate" href="{% url 'your_real_estate' %}">Your Real Estate</a></li>
                {% endif %}
            {% endif %}
            <li><a  id="contact_us" href="{% url 'contact_us' %}">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li><a id="logout" href="{% url 'logout' %}">{{ user.username }}</a></li>
                <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a id="login" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        <!--<div class="background_base">-->
            {% block content %}
            {% endblock %}
        </div>
         <!--</div>-->

        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <footer class="footer">
            <div class="footer_left">
                <h3 class="footer_left"> Castle Apartments Ltd.</h3>
                <p>Laugavegur 5, 101 Reykjavík </p>
                <p>castleapt@hotmail.com</p>
                <p>Kt: 123456-7890 </p>
                <p>S: 123-3456</p>
            </div>
            <div class="footer_center">
                <h3>About Us</h3>
                <p>
                    Castle Apartments Ltd. was founded in April-May 2019 by five scholars attending their studies of computer science at Reykjavik University, Iceland.
                    Our expertise is in selling high quality old fashion family homes.
                </p>
            </div>
            <div class="footer_right">
                <h3>Social media</h3>
                <img class="snapchat_logo" id="snapchat_logo" src="{% static 'Images/snapchat_logo.png' %}" alt="snapchat_logo">
                <img class="instagram_logo" id="instagram_logo" src="{% static 'Images/instagram_logo.png' %}" alt="instagram_logo">
                <img class="twitter_logo" id="twitter_logo" src="{% static 'Images/twitter_logo.png' %}" alt="twitter_logo">
                <img class="facebook_logo" id="facebook_logo" src="{% static 'Images/facebook_logo.png' %}" alt="facebook_logo">
            </div>
        </footer>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
