{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Castle Apartments</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    </head>
    <body>
        <nav class="navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a class="tab" id="home" href="{% url 'home_index' %}">Home</a></li>
                        <li><a class="tab" id="real_estate" href="{% url 'real_estate_index' %}">Real Estate</a></li>
                        <li><a class="tab" id="employees" href="{% url 'employees_index' %}">Staff Members</a></li>
                        <li><img class="logo" id="logo" src="{% static 'Images/logo.png' %}" alt="logo"></li>
                        <li><a class="tab" id="profile_none" href="#">{% block profile_contact %} {% endblock %}</a></li>
                        <li><a class="tab" id="pending_real_estate" href="#">{% block Your_real_estate_pending %} {% endblock %}</a></li>
                        <li><a class="tab" id="login_logout" href="{% url 'login_index' %}">{% block Login_logout %} {% endblock %}</a></li>
                    <!-- </ul>
                    <ul class="nav navbar-nav navbar-right"> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        {% block search_bar %}

        {% endblock %}


        {% block content %}

        {% endblock %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
