{% extends 'ekki_search_bar.html' %}

{% block content %}
    <div>
        <div class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions, need more information about properties for sale, or want to sell some real estate please send us <br> a message here (or through email to castleapt@castleapt.com) and we will contact you as soon as possible.</p>

        <form action="mailto:castleapt@hotmail.com" method="post" enctype="text/plain">
            Your name:<br>
            <input type="text" name="name"><br><br>

            Your e-mail:<br>
            <input type="text" name="mail"><br><br>

            Message:<br>
            <textarea class="user_input" name="post-text" cols="90" rows="10"></textarea><br><br>

            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
        </div>
    </div>
{% endblock %}
