{% extends 'litill_search_bar.html' %}
{% load static %}



{% block content %}
        <div class="container2">
            <h2 class="red">Real Estates</h2>
        </div>

    <form class="dropdown" action="/action_page.php">
              <select name="size">
                  <option value="order_by">Order by</option>
                  <option value="zip">Zip</option>
                  <option value="street">Street Name</option>
                  <option value="size">Size</option>
                  <option value="price">Price</option>
              </select>
        </form>
            <button href="#">Go</button>

        <main id="main">
        {% for house in real_estates %}
            {% include 'RealEstate/single_real_estate.html' with house=house %}
        {% endfor %}


        </main>
        <div class="col-13">
            <button type="submit" class="btn btn-block btn-lg btn-primary"><a href="{% url 'real_estate' %}">Load more</a></button>
        </div>

        <!-- Latest compiled and minified JavaScript -->
    {% endblock %}