{% extends 'RealEstate/index.html' %}
{% load static %}



{% block order_by %}

    <form class="dropdown" action="/action_page.php">
              <select id="real_estate_order" name="order">
                  <option value="{% url 'real_estate' %}" selected>Order by</option>
                  <option value="{% url 'real_estate_zip' %}">Zip</option>
                  <option value="{% url 'real_estate_street' %}">Street Name</option>
                  <option value="{% url 'real_estate_size' %}">Size</option>
                  <option value="{% url 'real_estate_price' %}">Price</option>
                  <option value="{% url 'real_estate_city' %}">City</option>
                  <option value="{% url 'real_estate_bathrooms' %}">Bathrooms</option>
                  <option value="{% url 'real_estate_bedrooms' %}">Bedrooms</option>
              </select>

        </form>
    <button type="submit" class="btn btn-primary"   id="real_estate_order" onclick="real_estate_urls()">Go</button>

{% endblock %}