<div class="well real estate">
    <a href="/real_estate/info/{{ house.id }}">
        <img src="{{ house.main_image }}" height="200px" width="300px">
        <h4 class="black-font">{{ house.street }}, {{ house.zip_code.city }} {{ house.zip_code.zip_code }}</h4>
        <p class="black-font"><b>Bedrooms: </b>{{ house.bedrooms }},<b> Bathrooms:</b> {{ house.bedrooms }},<b> Size: </b>{{ house.size }}<b> square meters</b></p>
        <p class="black-font"><b> Type: </b>{{ house.type }}</p>
        <p class="black-font">{{ house.price }} kr.</p>
    </a>
</div>

