{% extends 'base_2.html' %}

{% block content %}

    <h3>Login</h3>
    <div class="border-login">
    <form method = "post" class="form-login">
        {% csrf_token %}
        {{form}}
        <input type = "submit" value="Login">
    </form>
    <p>Dont have an account? Sign up <a style="color: blue" href="{% url 'register' %}">here</a></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
{% endblock %}