{% extends 'stor_mynd.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

        <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1> Profile </h1>
            <img src="{{ user.profile.profile_image }}"height="200px" width="300px">
            <form method="post">
            {% csrf_token %}
                {{ profile_form|crispy }}
                {{ auth_user_form|crispy }}
            <button type="submit" class="btn btn-primary" id="btn-update-profile">Update Pofile</button>
            </form>
        </div>
      </div>
    </div>



{% endblock %}