{% extends 'stor_mynd.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1> Sign Up! </h1>
            <h2>{{ error.}}</h2>
            <form method="post">
            {% csrf_token %}
                {{ auth_user_form|crispy }}
                {{ user_profile_form|crispy }}
            <button type="submit" class="formatted-btn btn-primary">Sign Up!</button>
            </form>

        </div>
      </div>
    </div>



{% endblock %}